<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mgn.bingenovelreader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <application
        android:name=".BNRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".activities.NovelDetailsActivity"
            android:label="@string/title_activity_novel_details"
            android:theme="@style/DarkTheme_DarkSide">
        </activity>
        <activity
            android:name=".activities.SearchResultsActivity"
            android:label="@string/title_activity_novel_details"
            android:theme="@style/DarkTheme_DarkSide">
        </activity>
        <activity
            android:name=".activity.ImagePreviewActivity"
            android:label=""
            android:theme="@style/AppImagePreview"/>
        <activity
            android:name=".activity.ReaderPagerActivity"
            android:label="@string/title_activity_reader_pager"
            android:parentActivityName=".activity.NovelDetailsActivity"
            android:theme="@style/DarkTheme_DarkSide">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgn.bingenovelreader.activity.NovelDetailsActivity"/>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.NavDrawerActivity"
            android:theme="@style/DarkTheme_DarkSide">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgn.bingenovelreader.activity.NavDrawerActivity"/>
        </activity>
        <activity
            android:name=".activity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/DarkTheme_DarkSide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NovelDetailsActivity"
            android:label="@string/title_activity_novel_details_new"
            android:theme="@style/DarkTheme_DarkSide">
        </activity>
        <activity
            android:name=".activity.ChaptersActivity"
            android:label="@string/title_activity_chapters"
            android:theme="@style/DarkTheme_DarkSide">
        </activity>
    </application>

</manifest>