<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mgn.bingenovelreader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".BNRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.LibraryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".activity.DownloadQueueActivity"
            android:label="@string/title_activity_download_queue"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- <activity -->
        <!-- android:name=".activities.NovelDetailsActivity" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:taskAffinity="" -->
        <!-- android:theme="@style/SlidingAppTheme"> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.ReaderPagerActivity"
            android:label="@string/title_activity_reader_pager"
            android:parentActivityName=".activity.NovelDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgn.bingenovelreader.activity.NovelDetailsActivity"/>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>