<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.gmathi.novellibrary">
    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- For background jobs -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- For managing extensions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" /> <!-- To view extension packages in API 30+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

<!--    <permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->

<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.VIEW" />-->
<!--            <category android:name="android.intent.category.BROWSABLE" />-->
<!--            <data android:scheme="https" />-->
<!--        </intent>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.VIEW" />-->
<!--            <data android:scheme="http" />-->
<!--        </intent>-->
<!--        <package android:name="io.github.gmathi.novellibrary" />-->
<!--    </queries>-->

    <application
        android:name=".NovelLibraryApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <!-- <activity -->
        <!-- android:name=".activity.settings.GoogleBackupActivity" -->
        <!-- android:label="@string/title_activity_google_backup" -->
        <!-- android:screenOrientation="fullUser" -->
        <!-- android:theme="@style/DarkTheme_DarkSide"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- [START fcm_default_icon] -->
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_book_white_vector" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".service.firebase.NLFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- android:name=".service.download.DownloadService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" /> -->
        <service
            android:name=".service.download.DownloadNovelService"
            android:enabled="true"
            android:exported="false" /> <!-- <service -->
        <!-- android:name=".service.sync.SyncNovelsService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->
        <activity
            android:name=".activity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NovelDetailsActivity"
            android:label="@string/title_activity_novel_details"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.TextToSpeechControlsActivity"
            android:label="@string/text_to_speech_controls"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.ImagePreviewActivity"
            android:label=""
            android:screenOrientation="fullUser"
            android:theme="@style/AppImagePreview" />
        <activity
            android:name=".activity.ReaderDBPagerActivity"
            android:label="@string/title_activity_reader_pager"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.MainSettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.MetaDataActivity"
            android:label="@string/title_activity_meta_data"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.LibrariesUsedActivity"
            android:label="@string/title_activity_libraries_used"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.ContributionsActivity"
            android:label="@string/title_activity_contributions"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.CopyrightActivity"
            android:label="@string/title_activity_copyright"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" /> <!-- <activity -->
        <!-- android:name=".activity.settings.CloudFlareBypassActivity" -->
        <!-- android:label="@string/cloud_flare_check" -->
        <!-- android:screenOrientation="fullUser" -->
        <!-- android:theme="@style/DarkTheme_DarkSide" /> -->
        <activity
            android:name=".activity.SearchUrlActivity"
            android:label="@string/title_activity_search_results"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.GeneralSettingsActivity"
            android:label="@string/title_activity_general_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.BackupSettingsActivity"
            android:label="@string/title_activity_backup_n_restore_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.reader.ReaderSettingsActivity"
            android:label="@string/title_activity_reader_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.reader.ScrollBehaviourSettingsActivity"
            android:label="@string/title_activity_reader_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.MentionSettingsActivity"
            android:label="@string/title_activity_mention_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.SyncSettingsSelectionActivity"
            android:label="@string/title_activity_sync_selection_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.SyncSettingsActivity"
            android:label="@string/title_activity_sync_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.TTSSettingsActivity"
            android:label="@string/title_activity_tts_settings"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide"/>
        <activity
            android:name=".activity.settings.SyncLoginActivity"
            android:label="@string/title_activity_sync_login"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.LanguageActivity"
            android:label="@string/title_activity_language"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.NovelDownloadsActivity"
            android:label="@string/title_activity_novel_downloads"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.ImportLibraryActivity"
            android:label="@string/title_activity_import_library"
            android:parentActivityName=".activity.NavDrawerActivity"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.gmathi.novellibrary.activity.NavDrawerActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="novelupdates.com"
                    android:pathPrefix="/readlist/"
                    android:scheme="http" />
                <data
                    android:host="www.novelupdates.com"
                    android:pathPrefix="/readlist/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.NovelSectionsActivity"
            android:label="@string/title_activity_novel_sections"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.ChaptersPagerActivity"
            android:label="@string/title_activity_chapters"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.LibrarySearchActivity"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.settings.reader.ReaderBackgroundSettingsActivity"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />

        <service
            android:name=".service.tts.TTSService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.RecentNovelsPagerActivity"
            android:label="@string/title_activity_recent_novels"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />
        <activity
            android:name=".activity.ExtensionsPagerActivity"
            android:label="@string/title_activity_extensions"
            android:screenOrientation="fullUser"
            android:theme="@style/DarkTheme_DarkSide" />

        <provider
            android:name=".util.storage.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".util.system.NotificationReceiver"
            android:enabled="true" />

        <activity
            android:name=".extension.util.ExtensionInstallActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>